@charset "UTF-8";
@font-face {
  font-family: "SF Display";
  font-weight: 400;
  src: url("../fonts/SF-UI-Display-Regular.otf");
}
@font-face {
  font-family: "SF Display";
  font-weight: 500;
  src: url("../fonts/SF-UI-Display-Medium.otf");
}
@font-face {
  font-family: "SF Display";
  font-weight: 600;
  src: url("../fonts/SF-UI-Display-Semibold.otf");
}
@font-face {
  font-family: "SF Display";
  font-weight: bold;
  src: url("../fonts/SF-UI-Display-Bold.otf");
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font-family: "SF Display";
  color: black;
  margin: 0;
  margin-right: 15px;
  overflow-x: hidden;
  font-weight: 400;
  font-size: 14px;
  background: white;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: inherit;
  margin: 0;
  line-height: 1.5;
  font-weight: 400;
}
body h1 {
  font-size: 2.1em;
}
body h2 {
  font-size: 1.75em;
}
body h3 {
  font-size: 1.4em;
}
body h4 {
  font-size: 1.15em;
}
body h5 {
  font-size: 1em;
}
body h6 {
  font-size: 0.85em;
}
body a {
  outline: none;
  text-decoration: none;
  font-weight: 400;
  color: inherit;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
body a:hover, body a:focus {
  color: #0088CC;
}
body ul {
  margin: 0;
  padding: 0;
}
body li {
  list-style: none;
}
body img {
  border: none;
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
}
body section {
  margin-left: -15px !important;
  margin-right: -15px !important;
}
body .go-top {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  background: #0088CC;
  -webkit-transition: 500ms;
  transition: 500ms;
  z-index: 1000;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  -webkit-box-shadow: 0 0 10px rgba(0, 136, 204, 0.5);
  box-shadow: 0 0 10px rgba(0, 136, 204, 0.5);
  -webkit-transform: translateY(100px);
  transform: translateY(100px);
}
body .go-top:hover {
  background: #0088CC;
}
body .go-top:hover span:nth-child(1) {
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
  left: 7px;
  top: 18px;
}
body .go-top:hover span:nth-child(2) {
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
  left: 19px;
  top: 18px;
}
body .go-top span {
  position: absolute;
  top: 20px;
  width: 15px;
  height: 2px;
  background: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
body .go-top span:nth-child(1) {
  left: 5px;
}
body .go-top span:nth-child(2) {
  left: 20px;
}
body button:focus {
  outline: none;
}
body input:focus,
body select:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 136, 204, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(0, 136, 204, 0.5);
}

body .xzoom-source img,
body .xzoom-preview img,
body .xzoom-lens img {
  z-index: 1051;
}
body .overlay-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  display: none;
  background: rgba(0, 0, 0, 0.05);
}
body .overlay-menu.overlay-in {
  display: block;
}
body .modal {
  cursor: url("../img/cursor.png"), auto;
  z-index: 1050;
}
body .mfp-bg {
  z-index: 1052;
}
body .mfp-wrap {
  z-index: 1053;
}
body .swal2-popup .swal2-styled.swal2-confirm {
  background: #0088CC;
}
body .swal2-popup .swal2-styled.swal2-confirm a {
  font-weight: 500;
}
body .ui-widget.ui-widget-content {
  z-index: 1050;
}

.pagination {
  margin-bottom: 10px;
  margin-top: 30px;
}
.pagination .page-link {
  background: none;
  border: 1px solid #666;
  color: #585858;
  border-radius: 3px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 38px;
  padding: 0;
}
.pagination .page-link:hover, .pagination .page-link:focus, .pagination .page-link.active {
  background: #0088CC;
  color: white;
}

.bread-crumb {
  color: black;
  margin-top: 15px;
  margin-bottom: 30px;
  text-align: left;
}
.bread-crumb .breadcrumb {
  background: none;
  padding: 0;
  margin-bottom: 0;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
}
.bread-crumb .breadcrumb .breadcrumb-item:first-child::before {
  content: none;
}
.bread-crumb .breadcrumb .breadcrumb-item:before {
  content: "/";
  padding-left: 10px;
  padding-right: 15px;
}
.bread-crumb .breadcrumb .breadcrumb-item:hover {
  color: #0088CC;
}
.bread-crumb .breadcrumb .breadcrumb-item.active {
  color: #0088CC;
}

.quickview {
  cursor: url("../img/cursor.png"), auto;
}
.quickview .modal-content {
  cursor: default;
}
.quickview .modal-content .modal-body img {
  margin-bottom: -5px;
}
.quickview .modal-content .modal-body h3 {
  font-weight: bold;
  margin-bottom: 15px;
}
.quickview .modal-content .modal-body h5 {
  margin-bottom: 15px;
}
.quickview .modal-content .modal-body h4 {
  color: #0088CC;
  font-weight: bold;
  margin-bottom: 15px;
}
.quickview .modal-content .modal-body h4 span {
  font-weight: 400;
  color: #585858;
  text-decoration: line-through;
  margin-left: 20px;
}
.quickview .modal-content .modal-body p {
  margin-bottom: 20px;
  color: #656565;
}
.quickview .modal-content .modal-body input {
  width: 40px;
  height: 40px;
  padding-left: 5px;
  margin: 0 5px;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
  margin-bottom: 20px;
  padding-top: 3px;
}
.quickview .modal-content .modal-body .cart-btn {
  border: 2px solid #0088CC;
}
.quickview .modal-content .modal-body .cart-btn:hover {
  background: none;
  border-color: black;
}
.quickview .modal-content .modal-body .xzoom-thumbs a {
  background: none;
  margin: 1px;
}
.quickview .modal-content .modal-body .xzoom-thumbs .xactive {
  border: 1px solid #0088CC;
}
.quickview .modal-content .modal-body .tags {
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid #e1e1e1;
}
.quickview .quantity {
  margin: 30px 0;
}
.quickview .quantity a {
  padding: 12px 20px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  background: #0088CC;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 2px solid #0088CC;
}
.quickview .quantity a:hover {
  background: none;
  color: #0088CC;
}
.quickview .tags span a {
  color: #0088CC;
}
.quickview .tags span a:hover {
  text-decoration: underline;
}

.modal-img {
  position: relative;
}
.modal-img .owl-theme .owl-nav button.owl-prev,
.modal-img .owl-theme .owl-nav button.owl-next {
  position: absolute;
  top: 30% !important;
  font-size: 30px !important;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #666;
  border: 0 !important;
  width: 0 !important;
  height: 0 !important;
}
.modal-img .owl-theme .owl-nav button.owl-prev:hover,
.modal-img .owl-theme .owl-nav button.owl-next:hover {
  color: #0088CC !important;
}
.modal-img .owl-theme .owl-nav button.owl-prev:focus,
.modal-img .owl-theme .owl-nav button.owl-next:focus {
  outline: none;
}
.modal-img .owl-theme .owl-nav button.owl-prev {
  left: 0;
}
.modal-img .owl-theme .owl-nav button.owl-next {
  right: 0;
}

.contact-page {
  margin-bottom: 50px;
}
.contact-page .box-contact {
  color: black;
}
.contact-page .box-contact input {
  height: 40px;
}
.contact-page .box-contact textarea {
  height: 100px;
}

.footer {
  background: #252525;
  color: white;
  padding-top: 30px;
}
.footer h4 {
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #383838;
  text-transform: uppercase;
  font-weight: 600;
}
.footer h4 i {
  float: right;
  margin-top: -4px;
  display: none;
}
.footer ul li {
  margin-bottom: 15px;
  color: #ccc;
}
.footer ul li i {
  margin-right: 10px;
  color: #0088CC;
  font-size: 14px;
}
.footer ul li a {
  color: #ccc;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 0.9em;
}
.footer ul li a:hover {
  color: #0088CC;
}
.footer i {
  font-size: 20px;
  margin-right: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footer i:hover {
  color: #0088CC;
}
.footer .support h5 {
  text-transform: uppercase;
}
.footer .support img {
  float: left;
  margin-right: 5px;
  width: 70px;
}
.footer .support h6 {
  color: #0088CC;
}
.footer .copyright {
  margin-top: 15px;
  padding: 15px 0;
  border-top: 1px solid #383838;
}

.selection_img_search, .selection_bubble_root {
  display: none;
}

.header-top {
  background: #0088CC;
  color: white;
}
.header-top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-top .search {
  width: calc(100% - 500px);
  margin: 35px 0;
}
.header-top .search form {
  position: relative;
}
.header-top .search input {
  width: 100%;
  height: 40px;
  border: 1px solid #e1e1e1;
  background: white;
  padding-left: 20px;
  border-radius: 40px;
  color: #585858;
}
.header-top .search input:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.header-top .search select {
  width: 150px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 40px;
  border: 1px solid #ccc;
  border-top: 0;
  border-bottom: 0;
  padding: 0 5px;
  color: #585858;
}
.header-top .search select:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.header-top .search button {
  position: absolute;
  top: 0;
  right: 0;
  color: #585858;
  text-align: center;
  border: 0;
  cursor: pointer;
  border-radius: 3px;
  height: 40px;
  width: 40px;
  font-weight: 500;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: white;
  font-size: 20px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}
.header-top .search button:hover {
  color: #0088CC;
}
.header-top .logo {
  margin: 33px 0;
  width: 300px;
}
.header-top .logo a {
  font-weight: bold;
}
.header-top .logo a:hover {
  color: #cccccc;
}
.header-top .hotline {
  margin: 25px 0;
  width: 200px;
  text-align: right;
}
.header-top .hotline i {
  color: #71D0FF;
  padding-right: 10px;
  font-size: 40px;
  display: inline-block;
}
.header-top .hotline-detail {
  display: inline-block;
  text-align: left;
}
.header-top .hotline-detail h4 {
  font-weight: 600;
  color: white;
}
.header-top .hotline-detail h4:hover {
  color: white;
}
.header-top .hotline-detail h6 {
  color: #71D0FF;
}

.menu {
  z-index: 1000;
  position: relative;
  height: 50px;
  background: #f4f4f4;
}
.menu.down {
  position: fixed;
  width: 100%;
  top: 0;
  right: 15px;
}
.menu .container {
  position: relative;
}
.menu .main-menu {
  position: relative;
}
.menu .main-menu .nav {
  display: block;
}
.menu .main-menu .nav li {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: inline-block;
  padding: 14px 0;
  position: relative;
}
.menu .main-menu .nav li:hover ul, .menu .main-menu .nav li:hover .sub-menu {
  -webkit-transform: none;
  transform: none;
  opacity: 1;
  visibility: initial;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.menu .main-menu .nav li:hover ul li, .menu .main-menu .nav li:hover ul .sub-menu-item, .menu .main-menu .nav li:hover .sub-menu li, .menu .main-menu .nav li:hover .sub-menu .sub-menu-item {
  display: block;
}
.menu .main-menu .nav li ul {
  position: absolute;
  width: 300px;
  left: 0;
  top: 49px;
  background: white;
  border: 1px solid #e1e1e1;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
  border: 0;
  text-align: left;
  -webkit-transform: translateY(40px);
  transform: translateY(40px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.menu .main-menu .nav li ul li {
  padding: 0;
  display: none;
}
.menu .main-menu .nav li ul li a {
  font-weight: 400;
  text-transform: initial;
  font-size: 14px;
  color: #444444;
  padding: 10px 20px;
  display: block;
  width: 299px;
  border-bottom: 1px solid #f4f4f4;
}
.menu .main-menu .nav li ul li a:hover {
  color: white;
  background: #0088CC;
}
.menu .main-menu .nav li .sub-menu {
  position: absolute;
  top: 50px;
  left: -380px;
  width: 1110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  padding-top: 15px;
  -webkit-transform: translateY(40px);
  transform: translateY(40px);
  opacity: 0;
  visibility: hidden;
  background: white;
  border: 1px solid #e1e1e1;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
}
.menu .main-menu .nav li .sub-menu-item {
  width: calc(100% / 4 - 30px);
  display: none;
  margin: 0 15px;
  overflow-x: hidden;
}
.menu .main-menu .nav li .sub-menu-item h5 {
  font-weight: 600;
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid #e1e1e1;
}
.menu .main-menu .nav li .sub-menu-item h5 a {
  text-transform: initial;
  padding: 0;
  font-size: 14px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.menu .main-menu .nav li .sub-menu-item ul {
  position: relative;
  opacity: 1;
  visibility: initial;
  -webkit-transform: none;
  transform: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: none;
  width: 100%;
  top: initial;
  left: initial;
}
.menu .main-menu .nav li .sub-menu-item ul li {
  display: block;
}
.menu .main-menu .nav li .sub-menu-item ul li a {
  border-bottom: 0;
  padding: 0;
  padding-bottom: 15px;
}
.menu .main-menu .nav li .sub-menu-item ul li a:hover {
  background: none;
  color: #0088CC;
}
.menu .main-menu .nav li .active {
  color: #0088CC;
}
.menu .main-menu .nav li a {
  font-weight: 600;
  font-size: 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: black;
  padding: 0;
  display: initial;
  padding: 16px 17px;
  text-transform: uppercase;
}
.menu .main-menu .nav li a:hover {
  color: #0088CC;
}
.menu .main-menu .nav li a i {
  font-size: 20px;
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
  display: inline-block;
  margin: -5px 0;
  margin-left: 5px;
}
.menu .main-menu .language {
  margin: 10px 0;
}
.menu .main-menu .language select {
  width: 65px;
  height: 30px;
}

.title-page {
  position: relative;
  margin-bottom: 40px;
  text-align: center;
  margin-top: 50px;
}
.title-page h3 a {
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  cursor: default;
  position: relative;
  background: white;
  border: 1px solid #e1e1e1;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
  padding: 12px 20px;
  z-index: 10;
}
.title-page h3 a:after {
  content: "";
  width: 100%;
  height: 100%;
  border: 2px solid #0088CC;
  bottom: 15px;
  left: 15px;
  position: absolute;
  z-index: -1;
}

.slider {
  position: relative;
  margin-bottom: 30px;
}
.slider .owl-theme .owl-dots {
  position: absolute;
  top: 50%;
  right: 30px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-top: 0;
}
.slider .owl-theme .owl-dots .owl-dot {
  display: block;
}
.slider .owl-theme .owl-dots .owl-dot.active span {
  background: #0088CC;
}
.slider .owl-theme .owl-dots .owl-dot span {
  width: 30px;
  height: 30px;
  margin: 5px 0;
  display: block;
  background: black;
  border-radius: 0;
  position: relative;
  color: white;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

.aboutus {
  margin-bottom: 50px;
  margin-top: 50px;
}
.aboutus .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.aboutus .nav-tabs {
  width: 350px;
  border: 0;
  border-right: 1px solid #e1e1e1;
  padding: 30px 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.aboutus .nav-tabs li {
  width: 100%;
  display: block;
}
.aboutus .nav-tabs li a {
  border: 0;
  border-right: 10px solid transparent;
  border-radius: 0;
  text-transform: uppercase;
  padding: 10px 0;
  padding-left: 0;
}
.aboutus .nav-tabs li a.active, .aboutus .nav-tabs li a:hover {
  border-right-color: #0088CC;
  color: #0088CC;
}
.aboutus .nav-tabs li a img {
  width: 50px;
  margin-right: 15px;
}
.aboutus .tab-content {
  width: calc(100% - 400px);
  margin-left: 50px;
  padding-top: 30px;
}
.aboutus .tab-content img {
  width: 70%;
  margin-bottom: 15px;
}
.aboutus .tab-content h3 {
  color: #585858;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.aboutus .tab-content h5 {
  color: #999999;
}
.aboutus .tab-content .aboutus-btn {
  margin-top: 20px;
}
.aboutus .tab-content .aboutus-btn a {
  color: #0088CC;
  font-weight: 600;
  font-size: 16px;
}
.aboutus .tab-content .aboutus-btn a:hover {
  letter-spacing: 0.1em;
}
.aboutus .tab-content .aboutus-btn a i {
  padding-right: 5px;
}

.service {
  background-image: url("../img//bg-service.png");
  padding: 30px 0;
  margin-bottom: 50px;
}
.service .nav-tabs {
  border: 0;
  margin-bottom: 15px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.service .nav-tabs li {
  margin: 5px;
  overflow: initial;
}
.service .nav-tabs li.waves-effect {
  position: initial;
}
.service .nav-tabs li a {
  padding: 12px 20px;
  background: white;
  border: 1px solid #e1e1e1;
  -webkit-transform: skew(-15deg);
  transform: skew(-15deg);
  color: #585858;
  border-radius: 0;
}
.service .nav-tabs li a.active, .service .nav-tabs li a:hover {
  background: #0088CC;
  color: white;
  border-color: #0088CC;
}
.service .nav-tabs li a span {
  -webkit-transform: skew(15deg);
  transform: skew(15deg);
  display: block;
}
.service .service-zone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.box-service {
  width: calc(100% / 4 - 30px);
  margin: 15px;
  height: 255px;
  overflow: hidden;
  position: relative;
}
.box-service:hover .box-service-desc {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}
.box-service:hover .box-service-title {
  background: none;
  padding: 30px 10px;
}
.box-service img {
  width: 100%;
}
.box-service-title {
  background: #252525;
  padding: 5px 10px;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 6;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.box-service-title h5 {
  color: white;
  text-transform: uppercase;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.box-service-title p {
  color: #ccc;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  margin: 0;
}
.box-service-desc {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 5;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
}
.box-service-desc h5 {
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 15px 0;
  border-top: 1px solid #777;
  border-bottom: 1px solid #777;
  width: calc(100% - 40px);
}
.box-service-desc h5 a {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: #cccccc;
}
.box-service-desc h5 a:hover {
  color: #0088CC;
}

.product {
  margin-bottom: 50px;
}
.product .container {
  position: relative;
}
.product-all {
  margin-top: 50px;
  text-align: center;
}
.product-all a {
  border: 2px solid #0088CC;
  color: #0088CC;
  padding: 12px 30px;
  font-weight: 600;
  font-size: 14px;
}
.product-all a:hover {
  background: #0088CC;
  color: white;
  border-color: #0088CC;
}
.product-zone {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.box-product {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
}
.box-product:hover {
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.16);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.16);
}
.box-product:hover .box-product-img-custom {
  opacity: 1;
}
.box-product-img {
  position: relative;
  height: 255px;
  overflow: hidden;
  margin-bottom: 15px;
}
.box-product-img:hover img {
  -webkit-transform: translate(-50%, -50%) scale(1.2);
  transform: translate(-50%, -50%) scale(1.2);
}
.box-product-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.box-product-img-custom {
  position: absolute;
  z-index: 2;
  right: 10px;
  bottom: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}
.box-product-img-custom i {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  padding: 5px 9px;
  background: #e1e1e1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: black;
}
.box-product-img-custom i:hover {
  background: #0088CC;
  color: white;
}
.box-product-detail {
  margin-bottom: 15px;
  padding: 0 10px;
}
.box-product-detail h6 {
  color: #999;
  font-size: 14px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.box-product-detail h5 {
  margin-bottom: 5px;
}
.box-product-detail h5 a {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.box-product-detail h5 a:hover {
  color: #0088CC;
}

.contact-home {
  background-image: url("../img/bg-contact.png");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding: 50px 0;
  margin-bottom: 70px;
}
.contact-home .box-contact-home {
  width: 530px;
  color: white;
}
.contact-home .box-contact-home-top, .contact-home .box-contact-home-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}
.contact-home .box-contact-home .left, .contact-home .box-contact-home .right {
  width: calc(100% / 2 - 30px);
  margin: 15px;
}
.contact-home .box-contact-home .left h4 {
  text-transform: uppercase;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #aaa;
}
.contact-home .box-contact-home .left h5 {
  color: #cccccc;
}
.contact-home .box-contact-home ul {
  margin-bottom: -15px;
}
.contact-home .box-contact-home ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}
.contact-home .box-contact-home ul li i {
  width: 40px;
  height: 40px;
  background: #0088CC;
  color: white;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
}
.contact-home .box-contact-home ul li h5, .contact-home .box-contact-home ul li h4 {
  width: calc(100% - 50px);
  margin-left: 10px;
  line-height: 1.3;
}
.contact-home .box-contact-home ul li h5 span, .contact-home .box-contact-home ul li h4 span {
  display: block;
  font-size: 14px;
  color: #ccc;
}
.contact-home .box-contact-home input, .contact-home .box-contact-home textarea, .contact-home .box-contact-home button {
  width: 100%;
  height: 40px;
  margin-bottom: 15px;
  padding-left: 10px;
  color: #585858;
  border: 0;
}
.contact-home .box-contact-home textarea {
  height: 150px;
  padding: 10px;
  margin-bottom: 9px;
}
.contact-home .box-contact-home button {
  background: #0088CC;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.contact-home .box-contact-home button:hover {
  color: #0088CC;
  background: white;
}

.product-page {
  margin-bottom: 10px;
}
.product-page .container {
  display: grid;
  grid-template-columns: 250px calc(100% - 280px);
  grid-gap: 30px;
}
.product-page .left .category {
  background: white;
  border: 1px solid #0088CC;
  position: relative;
  margin-bottom: 30px;
}
.product-page .left .category h4 {
  font-weight: 600;
  text-transform: uppercase;
  height: 50px;
  line-height: 50px;
  padding: 0 15px;
  width: 100%;
  background: #0088CC;
  color: white;
}
.product-page .left .category ul {
  padding: 15px;
  padding-bottom: 0;
  height: auto;
}
.product-page .left .category ul li {
  display: block;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e1e1e1;
}
.product-page .left .category ul li:last-child {
  margin-bottom: 0px;
}
.product-page .left .category ul li a {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #585858;
}
.product-page .left .category ul li a:hover {
  color: #0088CC;
}
.product-page .main h3 {
  font-weight: 600;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.product-page .main-zone {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin-bottom: 20px;
}
.product-page .main .product-detail-1-img .xzoom-thumbs {
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 0 25px;
  position: relative;
}
.product-page .main .product-detail-1-img .xzoom-thumbs img {
  width: auto;
  height: 80px;
}
.product-page .main .product-detail-1-img .xzoom-thumbs .xzoom-gallery:hover {
  border-color: #0088CC;
}
.product-page .main .product-detail-1-img .xzoom-thumbs .xactive {
  border-color: #0088CC;
  -webkit-box-shadow: 0px 0px 3px 0px #0088CC;
  box-shadow: 0px 0px 3px 0px #0088CC;
}
.product-page .main .product-detail-1-img .xzoom-thumbs .owl-theme .owl-nav button.owl-prev,
.product-page .main .product-detail-1-img .xzoom-thumbs .owl-theme .owl-nav button.owl-next {
  position: absolute;
  top: 40%;
  font-size: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.product-page .main .product-detail-1-img .xzoom-thumbs .owl-theme .owl-nav button.owl-prev:hover, .product-page .main .product-detail-1-img .xzoom-thumbs .owl-theme .owl-nav button.owl-prev:focus,
.product-page .main .product-detail-1-img .xzoom-thumbs .owl-theme .owl-nav button.owl-next:hover,
.product-page .main .product-detail-1-img .xzoom-thumbs .owl-theme .owl-nav button.owl-next:focus {
  color: #0088CC;
  background: none;
  outline: none;
}
.product-page .main .product-detail-1-img .xzoom-thumbs .owl-theme .owl-nav button.owl-prev {
  left: -12%;
}
.product-page .main .product-detail-1-img .xzoom-thumbs .owl-theme .owl-nav button.owl-next {
  right: -12%;
}
.product-page .main .product-detail-1-detail {
  color: #585858;
  margin-bottom: 30px;
}
.product-page .main .product-detail-1-detail h3 {
  font-weight: bold;
  margin-bottom: 5px;
  color: black;
}
.product-page .main .product-detail-1-detail p {
  color: #585858;
  margin-bottom: 10px;
}
.product-page .main .product-detail-1-detail h4 {
  color: #0088CC;
  font-weight: bold;
  margin-bottom: 20px;
}
.product-page .main .product-detail-1-detail h4 span {
  color: #585858;
  font-weight: 400;
  text-decoration: line-through;
  margin-left: 30px;
}
.product-page .main .product-detail-1-detail h5 {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #e1e1e1;
}
.product-page .main .product-detail-1-detail .quantity a {
  padding: 15px 30px;
  background: #0088CC;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  border: 2px solid #0088CC;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.product-page .main .product-detail-1-detail .quantity a:hover {
  color: #0088CC;
  background: none;
}
.product-page .main .product-detail-2-title .nav-tabs {
  border-bottom: 2px solid #383838;
  margin-bottom: 30px;
}
.product-page .main .product-detail-2-title .nav-tabs .nav-item {
  margin-bottom: -2px;
}
.product-page .main .product-detail-2-title .nav-tabs .nav-item .nav-link {
  padding-bottom: 11px;
  border: none;
  border-bottom: 2px solid #383838;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-weight: bold;
}
.product-page .main .product-detail-2-title .nav-tabs .nav-item .nav-link.active, .product-page .main .product-detail-2-title .nav-tabs .nav-item .nav-link:hover {
  background: none;
  border: none;
  border-bottom: 2px solid #0088CC;
  padding-bottom: 11px;
  color: #0088CC;
}
.product-page .main .similar h2 {
  padding-top: 20px;
  margin-top: 40px;
  border-top: 2px solid #555555;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 30px;
}

.service-page {
  margin-bottom: 20px;
}
.service-page.service {
  background: none;
  padding: 0;
  margin: 50px 0;
}

.page-detail {
  margin-bottom: 40px;
}
.page-detail h2 {
  font-weight: 600;
  margin-bottom: 20px;
}
.page-detail img {
  margin-bottom: 20px;
}
.page-detail .similar {
  margin-top: 80px;
}
.page-detail .similar.service {
  background: none;
  padding: 0;
}
.page-detail .similar img {
  margin: 0;
}

.news-page h2 {
  margin-bottom: 10px;
}
.news-page h4.date {
  color: #0088CC;
  margin-bottom: 15px;
  font-weight: 500;
}
.news-page h4.date i {
  margin-right: 5px;
}

@media (max-width: 1200px) {
  body {
    margin-left: 15px;
  }

  .container {
    max-width: calc(100% - 30px);
  }

  .menu .main-menu .nav li .sub-menu {
    width: 992px;
    left: -395px;
  }
  .menu .main-menu .nav li a {
    padding: 22px 13px;
  }

  .box-service {
    height: calc(100% / 4 - 15px);
  }

  .box-product-img {
    height: calc(100vw / 4 - 38px);
  }

  .product-page .container {
    display: block;
  }
  .product-page .category {
    display: none;
  }
  .product-page .main-zone {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 992px) {
  .toggleMenu {
    display: block;
    position: fixed;
    right: 15px;
    top: 9px;
    z-index: 10;
    color: black;
  }
  .toggleMenu i {
    font-size: 26px;
  }

  .header-top {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 998;
    height: 60px;
    left: 15px;
    background: white;
    border: 1px solid #e1e1e1;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
  }
  .header-top .logo {
    margin: 7px 0;
  }
  .header-top .logo a {
    color: black;
  }
  .header-top .search {
    position: absolute;
    width: 100%;
    top: 24px;
    background: #f4f4f4;
    left: 0;
    padding: 10px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: translateY(-50%) scaleY(0);
    transform: translateY(-50%) scaleY(0);
  }
  .header-top .search.active {
    -webkit-transform: none;
    transform: none;
  }
  .header-top .search select, .header-top .search button {
    border: 1px solid #e1e1e1;
  }
  .header-top .search select {
    border-right: 0;
  }
  .header-top .hotline {
    margin: 0;
  }
  .header-top .hotline-detail h4 {
    color: black;
  }
  .header-top .hotline-detail h4:hover {
    color: #0088CC;
  }

  article {
    padding-top: 60px;
  }

  .menu {
    height: auto;
    background: white;
    position: fixed;
    top: 0;
  }
  .menu.down {
    border: 0;
  }
  .menu.down .main-menu .nav li {
    padding: 20px 30px;
  }
  .menu.down .main-menu .nav li ul li {
    padding: 0;
  }
  .menu .main-menu {
    border: 0;
    position: absolute;
    left: -15px;
    top: 0;
    width: 100%;
    background: none;
  }
  .menu .main-menu .nav {
    display: block;
    text-align: left;
    background: white;
    position: absolute;
    width: 300px;
    -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    height: 100vh;
    opacity: 0;
    padding: 0;
    margin: 0;
    padding-top: 30px;
    left: 15px;
    z-index: 1010;
    color: black;
    overflow-y: scroll;
  }
  .menu .main-menu .nav.out {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
  .menu .main-menu .nav li {
    display: block;
    padding: 20px 30px;
  }
  .menu .main-menu .nav li:first-child {
    margin-top: 30px;
  }
  .menu .main-menu .nav li a {
    line-height: 1.5;
    padding: 0;
    padding-bottom: 5px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 15px;
    color: black;
  }
  .menu .main-menu .nav li a:hover {
    background: none;
  }
  .menu .main-menu .nav li .active {
    background: none;
    color: #0088CC;
  }
  .menu .main-menu .nav li ul, .menu .main-menu .nav li .sub-menu {
    width: 300px;
    top: 50px;
    -webkit-transform: translateX(-300px);
    transform: translateX(-300px);
    padding-top: 0;
    height: auto;
    position: fixed;
    z-index: 1000;
    margin-left: 15px;
  }
  .menu .main-menu .nav li ul:hover::before, .menu .main-menu .nav li .sub-menu:hover::before {
    display: none;
  }
  .menu .main-menu .nav li ul::before, .menu .main-menu .nav li .sub-menu::before {
    content: "Trở lại";
    font-size: 12px;
    position: absolute;
    top: -33px;
    left: 15px;
    color: #0088CC;
  }
  .menu .main-menu .nav li ul li, .menu .main-menu .nav li .sub-menu li {
    width: 100%;
  }
  .menu .main-menu .nav li ul li:first-child, .menu .main-menu .nav li .sub-menu li:first-child {
    margin-top: 0;
  }
  .menu .main-menu .nav li ul li a, .menu .main-menu .nav li .sub-menu li a {
    padding: 15px 20px;
  }
  .menu .main-menu .nav li .sub-menu {
    left: 0;
    display: block;
    padding-top: 20px;
    padding-right: 50px;
  }
  .menu .main-menu .nav li .sub-menu ul {
    margin-bottom: 15px;
  }
  .menu .main-menu .nav li .sub-menu-item {
    width: 100%;
  }
  .menu .main-menu .nav li .sub-menu-item ul::before {
    content: none;
  }
  .menu .search {
    background: white;
    position: fixed;
    top: 1px;
    height: 58px;
    right: 90px;
    width: calc(100% - 80px);
  }
  .menu .search input, .menu .search button {
    color: black;
  }
  .menu .search input {
    border-bottom-color: black;
  }
  .menu .search input::-webkit-input-placeholder {
    color: black;
  }
  .menu .search input:-ms-input-placeholder {
    color: black;
  }
  .menu .search input::-ms-input-placeholder {
    color: black;
  }
  .menu .search input::placeholder {
    color: black;
  }

  .nav-close {
    position: absolute;
    font-size: 24px;
    top: 5px;
    right: 10px;
    color: black;
  }

  .search-btn {
    display: block;
    position: fixed;
    right: 60px;
    top: 11px;
    z-index: 10;
    color: black;
  }
  .search-btn i {
    font-size: 24px;
  }

  .box-product-img {
    height: calc(100vw / 3 - 40px);
  }

  .service-zone .box-service {
    width: calc(100% / 2 - 30px);
  }

  .product-zone, .product-page .main-zone {
    grid-template-columns: repeat(3, 1fr);
  }

  .header-bottom .logo {
    border: 0;
  }

  .aboutus .tab-content {
    width: calc(100% - 380px);
    margin-left: 30px;
  }
  .aboutus .tab-content img {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .header-top .hotline {
    text-align: left;
  }
  .header-top .logo {
    display: none;
  }

  .aboutus {
    display: none;
  }

  .slider {
    margin: 0;
  }

  .product-zone, .product-page .main-zone {
    grid-template-columns: 1fr 1fr;
  }

  .box-product-img {
    height: calc(100vw / 2 - 45px);
  }
}
@media (max-width: 575px) {
  .container {
    max-width: 100%;
  }

  .header-top .hotline h2 a {
    color: #0088CC;
  }

  .footer h4 {
    border-bottom: 0;
  }
  .footer h4 i {
    display: block;
  }
  .footer ul {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    display: none;
    margin-top: -10px;
  }
  .footer ul.active {
    height: 100%;
    display: block;
  }

  .service-zone .box-service {
    width: 100%;
  }

  .box-product:hover {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .box-product-img {
    height: calc((100vw / 2) - 22px);
  }
  .box-product-img-custom {
    display: none;
  }

  .product-zone, .product-page .main-zone {
    grid-gap: 15px;
  }

  .title-page h1 {
    font-size: 1.45em;
  }

  .aboutus .box-aboutus {
    padding: 15px;
    background: white;
    margin: 0 -15px;
    padding-bottom: 40px;
  }

  .contact-home {
    padding: 15px 0;
    margin-bottom: 30px;
  }
  .contact-home .box-contact-home {
    width: 100%;
  }
  .contact-home .box-contact-home-top, .contact-home .box-contact-home-bottom {
    display: block;
  }
  .contact-home .box-contact-home-top .left, .contact-home .box-contact-home-top .right, .contact-home .box-contact-home-bottom .left, .contact-home .box-contact-home-bottom .right {
    width: calc(100% - 30px);
  }
  .contact-home .box-contact-home ul {
    margin-bottom: 30px;
  }

  .service {
    margin-bottom: 20px;
    padding-bottom: 10px;
  }
  .service .nav-tabs {
    margin: 0 -5px;
  }
  .service .nav-tabs li {
    display: inline-block;
    width: calc(50% - 12px);
    text-align: center;
  }
  .service .nav-tabs li a {
    -webkit-transform: none;
    transform: none;
    padding: 10px;
  }
  .service .nav-tabs li a span {
    -webkit-transform: none;
    transform: none;
  }

  .title-page {
    margin: 0;
    margin-bottom: 20px;
  }
  .title-page h3 a {
    padding: 0;
    background: none;
    font-size: 20px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
  }
  .title-page h3 a:after {
    content: none;
  }
}
@media (max-width: 450px) {
  .slider .owl-theme .owl-dots {
    display: none;
  }

  .header-top .search select {
    width: 100px;
  }
}

/*# sourceMappingURL=layout.css.map */
