@import 'default';
$main_color: #0088CC;

@mixin o1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

@mixin o2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@mixin o3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

@mixin o4 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

@mixin sha {
  background: white;
  border: 1px solid #e1e1e1;
  box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);
  -webkit-box-shadow: 0 0 10px rgba($color: #000000, $alpha: .16);
}

// end default css -----------------------------------------------------



.header-top {  
  background: $main_color;
  color: white;

  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .search {
    width: calc(100% - 500px);
    margin: 35px 0;

    form {
      position: relative;
    }

    input {
      width: 100%;
      height: 40px;
      border: 1px solid #e1e1e1;
      background: white;
      padding-left: 20px;
      border-radius: 40px;
      color: #585858;

      &:focus {
        outline: none;
        -webkit-box-shadow: none;
                box-shadow: none;
      }
    }

    select {
      width: 150px;
      height: 40px;
      position: absolute;
      top: 0;
      right: 40px;
      border: 1px solid #ccc;
      border-top: 0;
      border-bottom: 0;
      padding: 0 5px;
      color: #585858;

      &:focus {
        outline: none;
        -webkit-box-shadow: none;
                box-shadow: none;
      }
    }

    button {
      position: absolute;
      top: 0;
      right: 0;
      color: #585858;
      text-align: center;
      border: 0;
      cursor: pointer;
      border-radius: 3px;
      height: 40px;
      width: 40px;
      font-weight: 500;
      text-transform: uppercase;
      -webkit-transition: .3s;
      transition: .3s;
      background: white;
      font-size: 20px;
      border-top-right-radius: 40px;
      border-bottom-right-radius: 40px;

      &:hover {
        color: $main_color;
      }
    }
  }

  .logo {
    margin: 33px 0;
    width: 300px;
    
    a {
      font-weight: bold;

      &:hover {
        color: #cccccc;
      }
    }
  }

  .hotline {      
    margin: 25px 0;
    width: 200px;
    text-align: right;

    i {
      color: #71D0FF;
      padding-right: 10px;
      font-size: 40px;
      display: inline-block;
    }

    &-detail {
      display: inline-block;
      text-align: left;

      h4 {
        font-weight: 600;
        color: white;

        &:hover {
          color: white;
        }
      }

      h6 {
        color: #71D0FF;
      }
    }
  }
}


.menu {
  z-index: 1000;
  position: relative;
  height: 50px;
  background: #f4f4f4;
  
  &.down {
    position: fixed;
    width: 100%;
    top: 0;
    right: 15px;
  }

  .container {
    position: relative;
  }

  .main-menu {
    position: relative;

    .nav {
      display: block;

      li {
        -webkit-transition: .5s;
        transition: .5s;
        display: inline-block;
        padding: 14px 0;
        position: relative;

        &:hover {

          ul, .sub-menu {
            -webkit-transform: none;
                    transform: none;
            opacity: 1;
            visibility: initial;
            -webkit-transition: .3s;
            transition: .3s;
            
            li, .sub-menu-item  {
              display: block;
            }
          }
        }

        ul {
          position: absolute;
          width: 300px;
          left: 0;
          top: 49px;
          @include sha;
          border: 0;
          text-align: left;
          -webkit-transform: translateY(40px);
                  transform: translateY(40px);
          opacity: 0;
          visibility: hidden;
          -webkit-transition: .3s;
          transition: .3s;
          
          li {
            padding: 0;
            display: none;

            a {
              font-weight: 400;
              text-transform: initial;
              font-size: 14px;
              color: #444444;
              padding: 10px 20px;
              display: block;
              width: 299px;
              border-bottom: 1px solid #f4f4f4;

              &:hover {
                color: white;
                background: $main_color;
              }
            }
          }
        }

        .sub-menu {
          position: absolute;
          top: 50px;
          left: -380px;
          width: 1110px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          padding: 5px;
          padding-top: 15px;
          -webkit-transform: translateY(40px);
          transform: translateY(40px);
          opacity: 0;
          visibility: hidden;
          @include sha;

          &-item {
            width: calc(100% / 4 - 30px);
            display: none;
            margin: 0 15px;
            overflow-x: hidden;

            h5 {
              font-weight: 600;
              padding-bottom: 10px;
              margin-bottom: 15px;
              border-bottom: 1px solid #e1e1e1;

              a {
                text-transform: initial;
                padding: 0;
                font-size: 14px;
                @include o1;
              }
            }

            ul {
              position: relative;
              opacity: 1;
              visibility: initial;
              -webkit-transform: none;
                      transform: none;
              -webkit-box-shadow: none;
                      box-shadow: none;
              background: none;
              width: 100%;
              top: initial;
              left: initial;
    
              li {
                display: block;

                a {
                  border-bottom: 0;
                  padding: 0;
                  padding-bottom: 15px;

                  &:hover {
                    background: none;
                    color: $main_color;
                  }
                }
              }
            }
          }
        }

        .active {
          color: $main_color;
        }

        a {
          font-weight: 600;
          font-size: 16px;
          -webkit-transition: .3s;
          transition: .3s;
          color: black;
          padding: 0;
          display: initial;
          padding: 16px 17px;
          text-transform: uppercase;

          &:hover {
            color: $main_color;
          }

          i {
            font-size: 20px;
            -webkit-transform: translateY(1px);
            transform: translateY(1px);
            display: inline-block;
            margin: -5px 0;
            margin-left: 5px;
          }
        }

      }
    }
    
    .language {
      margin: 10px 0;

      select {
        width: 65px;
        height: 30px;
      }
    }
  }
}

.title-page {
  position: relative;
  margin-bottom: 40px;
  text-align: center;
  margin-top: 50px;

  h3 {
    a {
      text-transform: uppercase;
      font-weight: bold;
      color: black;
      cursor: default;
      position: relative;
      @include sha;
      padding: 12px 20px;
      z-index: 10;

      &:after {
        content: '';
        width: 100%;
        height: 100%;
        border: 2px solid $main_color;
        bottom: 15px;
        left: 15px;
        position: absolute;
        z-index: -1;
      }
    }
  }
}

.slider {
  position: relative;
  margin-bottom: 30px;

  .owl-theme .owl-dots {
    position: absolute;
    top: 50%;
    right: 30px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    margin-top: 0;

    .owl-dot {
      display: block;

      &.active {
        span {
          background: $main_color;
        }
      }

      span {
        width: 30px;
        height: 30px;
        margin: 5px 0;
        display: block;
        background: black;
        border-radius: 0;
        position: relative;
        color: white;
        font-size: 14px;
        line-height: 30px;
        text-align: center;
      }
    }
  }
}

.aboutus {
  margin-bottom: 50px;
  margin-top: 50px;

  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .nav-tabs {
    width: 350px;
    border: 0;
    border-right: 1px solid #e1e1e1;
    padding: 30px 0;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;

    li {
      width: 100%;
      display: block;

      a {
        border: 0;
        border-right: 10px solid transparent;
        border-radius: 0;
        text-transform: uppercase;
        padding: 10px 0;
        padding-left: 0;

        &.active, &:hover {
          border-right-color: $main_color;
          color: $main_color;
        }

        img {
          width: 50px;
          margin-right: 15px;
        }
      }
    }
  }

  .tab-content {
    width: calc(100% - 400px);
    margin-left: 50px;
    padding-top: 30px;

    img {
      width: 70%;
      margin-bottom: 15px;
    }

    h3 {
      color: #585858;
      text-transform: uppercase;
      margin-bottom: 10px;
    }

    h5 {
      color: #999999;
    }

    .aboutus-btn {
      margin-top: 20px;
      a {
        color: $main_color;
        font-weight: 600;
        font-size: 16px;

        &:hover {
          letter-spacing: 0.1em;
        }

        i {
          padding-right: 5px;
        }
      }
    }
  }
}

.service {
  background-image: url('../img//bg-service.png');
  padding: 30px 0;
  margin-bottom: 50px;
  
  .nav-tabs {
    border: 0;
    margin-bottom: 15px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    li {
      margin: 5px;
      overflow: initial;

      &.waves-effect {
        position: initial;
      }

      a {
        padding: 12px 20px;
        background: white;
        border: 1px solid #e1e1e1;
        -webkit-transform: skew(-15deg);
                transform: skew(-15deg);
        color: #585858;
        border-radius: 0;

        &.active, &:hover {
          background: $main_color;
          color: white;
          border-color: $main_color;
        }

        span {
          -webkit-transform: skew(15deg);
                  transform: skew(15deg);
          display: block;
        }
      }
    }
  }

  .service-zone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -15px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.box-service {
  width: calc(100% / 4 - 30px);
  margin: 15px;
  height: 255px;
  overflow: hidden;
  position: relative;

  &:hover {
    .box-service-desc {
      opacity: 1;
      -webkit-transform: none;
              transform: none;
    }

    .box-service-title {
      background: none;
      padding: 30px 10px;
    }
  }

  img {
    width: 100%;
  }

  &-title {
    background: #252525;
    padding: 5px 10px;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 6;
    -webkit-transition: .3s;
    transition: .3s;

    h5 {
      color: white;
      text-transform: uppercase;
      @include o1;
    }

    p {
      color: #ccc;
      @include o1;
      margin: 0;
    }
  }

  &-desc {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    opacity: 0;
    -webkit-transition: .3s;
    transition: .3s;
    z-index: 5;
    background: rgba($color: #000000, $alpha: .7);
    -webkit-transform: translateY(50px);
            transform: translateY(50px);

    h5 {
      position: absolute;
      top: 35%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      padding: 15px 0;
      border-top: 1px solid #777;
      border-bottom: 1px solid #777;
      width: calc(100% - 40px);
      
      a {
        @include o3;
        color: #cccccc;

        &:hover {
          color: $main_color;
        }
      }
    }
  }
}

.product {
  margin-bottom: 50px;

  .container {
    position: relative;
  }

  &-all {
    margin-top: 50px;
    text-align: center;

    a {
      border: 2px solid $main_color;
      color: $main_color;
      padding: 12px 30px;
      font-weight: 600;
      font-size: 14px;

      &:hover {
        background: $main_color;
        color: white;
        border-color: $main_color;
      }
    }
  }

  &-zone {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
  }

}

.box-product {
  -webkit-transition: .3s;
  transition: .3s;
  position: relative;

  &:hover {
    -webkit-box-shadow: 0 0 15px rgba($color: #000000, $alpha: .16);
            box-shadow: 0 0 15px rgba($color: #000000, $alpha: .16);

    .box-product-img-custom {
      opacity: 1;
    }
  }

  &-img {
    position: relative;
    height: 255px;
    overflow: hidden;
    margin-bottom: 15px;

    &:hover {
      img {
        -webkit-transform: translate(-50%, -50%) scale(1.2);
                transform: translate(-50%, -50%) scale(1.2);
      }
    }
    
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      width: 100%;
      -webkit-transition: .3s;
      transition: .3s;
    }

    &-custom {
      position: absolute;
      z-index: 2;
      right: 10px;
      bottom: 10px;
      -webkit-transition: .3s;
      transition: .3s;
      opacity: 0;

      i {
        display: block;
        margin-bottom: 5px;
        font-size: 16px;
        padding: 5px 9px;
        background: #e1e1e1;
        -webkit-transition: .3s;
        transition: .3s;
        color: black;

        &:hover {
          background: $main_color;
          color: white;
        }
      }
    }
  }

  &-detail {
    margin-bottom: 15px;
    padding: 0 10px;

    h6 {
      color: #999;
      font-size: 14px;
      @include o1;
    }

    h5{
      margin-bottom: 5px;

      a {
        @include o1;

        &:hover {
          color: $main_color;
        }
      }
    } 
  }
}

.contact-home {
  background-image: url('../img/bg-contact.png');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding: 50px 0;
  margin-bottom: 70px;

  .box-contact-home {
    width: 530px;
    color: white;

    &-top, &-bottom {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 0 -15px;
    }

    .left, .right {
      width: calc(100% / 2 - 30px);
      margin: 15px;
    }

    .left h4 {
      text-transform: uppercase;
      padding-bottom: 15px;
      margin-bottom: 15px;
      border-bottom: 1px solid #aaa;
    }

    .left h5 {
      color: #cccccc;
    }

    ul {
      margin-bottom: -15px;

      li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 15px;

        i {
          width: 40px;
          height: 40px;
          background: $main_color;
          color: white;
          text-align: center;
          line-height: 40px;
          font-size: 20px;
        }

        h5, h4 {
          width: calc(100% - 50px);
          margin-left: 10px;
          line-height: 1.3;

          span {
            display: block;
            font-size: 14px;
            color: #ccc;
          }
        }
      }
    }

    input, textarea, button {
      width: 100%;
      height: 40px;
      margin-bottom: 15px;
      padding-left: 10px;
      color: #585858;
      border: 0;
    }

    textarea {
      height: 150px;
      padding: 10px;
      margin-bottom: 9px;
    }

    button {
      background: $main_color;
      color: white;
      cursor: pointer;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 16px;
      -webkit-transition: .3s;
      transition: .3s;

      &:hover {
        color: $main_color;
        background: white;
      }
    }
  }
}

.product-page {
  margin-bottom: 10px;

  .container {
    display: grid;
    grid-template-columns: 250px calc(100% - 280px);
    grid-gap: 30px;
  }

  .left {
    .category {
      background: white;
      border: 1px solid $main_color;
      position: relative;
      margin-bottom: 30px;
  
      h4 {
        font-weight: 600;
        text-transform: uppercase;
        height: 50px;
        line-height: 50px;
        padding: 0 15px;
        width: 100%;
        background: $main_color;
        color: white;
      }
  
      ul {
        padding: 15px;
        padding-bottom: 0;
        height: auto;
  
        li {
          display: block;
          padding-bottom: 10px;
          margin-bottom: 10px;
          border-bottom: 1px solid #e1e1e1;
  
          &:last-child {
            margin-bottom: 0px;
          }
  
          a {
            @include o1;
            -webkit-transition: .3s;
            transition: .3s;
            color: #585858;
  
            &:hover {
              color: $main_color;
            }
          }
        }
      }
    }
  }

  .main {
    h3 {
      font-weight: 600;
      margin-bottom: 30px;
      text-transform: uppercase;
    }

    &-zone {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 30px;
      margin-bottom: 20px;
    }

    .product-detail {
      &-1 {
        &-img {
          .xzoom-thumbs {
            margin-top: 10px;
            margin-bottom: 30px;
            padding: 0 25px;
            position: relative;

            img {
              width: auto;
              height: 80px;
            }
  
            .xzoom-gallery {
              &:hover {
                border-color: $main-color;
              }
            }
  
            .xactive {
              border-color: $main-color;
              -webkit-box-shadow: 0px 0px 3px 0px $main-color;
                      box-shadow: 0px 0px 3px 0px $main-color;
            }
  
            .owl-theme .owl-nav {
  
              button.owl-prev,
              button.owl-next {
                position: absolute;
                top: 40%;
                font-size: 30px;
                -webkit-transition: .5s;
                transition: .5s;
                -webkit-transform: translateY(-50%);
                        transform: translateY(-50%);
  
                &:hover,
                &:focus {
                  color: $main-color;
                  background: none;
                  outline: none;
                }
              }
  
              button.owl-prev {
                left: -12%
              }
  
              button.owl-next {
                right: -12%
              }
            }
          }
        }
  
        &-detail {
          color: #585858;
          margin-bottom: 30px;
  
          h3 {
            font-weight: bold;
            margin-bottom: 5px;
            color: black;
          }

          p {
            color: #585858;
            margin-bottom: 10px;
          }
  
          h4 {
            color: $main-color;
            font-weight: bold;
            margin-bottom: 20px;
  
            span {
              color: #585858;
              font-weight: 400;
              text-decoration: line-through;
              margin-left: 30px;
            }
          }
  
          h5 {
            padding-bottom: 30px;
            margin-bottom: 30px;
            border-bottom: 1px solid #e1e1e1;
          }
  
          .quantity {
            a {
              padding: 15px 30px;
              background: $main_color;
              color: white;
              text-transform: uppercase;
              font-weight: 600;
              border: 2px solid $main_color;
              -webkit-transition: .3s;
              transition: .3s;
  
              &:hover {
                color: $main-color;
                background: none;
              }
            }
          }
        }
      }
  
      &-2 {
        &-title {
          .nav-tabs {
            border-bottom: 2px solid #383838;
            margin-bottom: 30px;
  
            .nav-item {
              margin-bottom: -2px;
  
              .nav-link {
                padding-bottom: 11px;
                border: none;
                border-bottom: 2px solid #383838;
                -webkit-transition: .5s;
                transition: .5s;
                font-weight: bold;
  
                &.active,
                &:hover {
                  background: none;
                  border: none;
                  border-bottom: 2px solid $main-color;
                  padding-bottom: 11px;
                  color: $main-color;
                }
              }
            }
          }
        }
      }
    }

    .similar {
      h2 {
        padding-top: 20px;
        margin-top: 40px;
        border-top: 2px solid #555555;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 30px;
      }
    }
  }
}

.service-page {
  margin-bottom: 20px;

  &.service {
    background: none;
    padding: 0;
    margin: 50px 0;
  }
}

.page-detail {
  margin-bottom: 40px;

  h2 {
    font-weight: 600;
    margin-bottom: 20px;
  }

  img {
    margin-bottom: 20px;
  }

  .similar {
    margin-top: 80px;

    &.service {
      background: none;
      padding: 0;
    }

    img {
      margin: 0;
    }
  }
}

.news-page {
  h2 {
    margin-bottom: 10px;
  }

  h4.date {
    color: $main_color;
    margin-bottom: 15px;
    font-weight: 500;

    i {
      margin-right: 5px;
    }
  }
}


// --------------------------------------------------------------------
@import 'media';
