extends _inc

block article
  section.slider
    .owl-carousel.slider-carousel.owl-theme
      .item
        a(href='chi-tiet-san-pham.html')
          img(src='../img/slider-1.png')
      
      .item
        a(href='chi-tiet-san-pham.html')
          img(src='../img/slider-1.png')
   
  section.aboutus
    .container
      ul.nav.nav-tabs(role='tablist')
        li.nav-item
          a#about-1-tab.nav-link.active(data-toggle='tab', href='#about-1', role='tab', aria-controls='about-1', aria-selected='true')
            img(src='../img/about-1.png')
            | VỀ VỆ SINH HOÀNG gia
        li.nav-item
          a#about-2-tab.nav-link(data-toggle='tab', href='#about-2', role='tab', aria-controls='about-2', aria-selected='false') 
            img(src='../img/about-2.png')
            | MÁY MÓC VỆ SINH
        li.nav-item
          a#about-3-tab.nav-link(data-toggle='tab', href='#about-3', role='tab', aria-controls='about-3', aria-selected='false') 
            img(src='../img/about-3.png')
            | Dịch Vụ VỆ SINH CÔNG NGHIỆP
        li.nav-item
          a#about-4-tab.nav-link(data-toggle='tab', href='#about-4', role='tab', aria-controls='about-4', aria-selected='false') 
            img(src='../img/about-4.png')
            | Dịch Vụ MÀI VÀ ĐÁNH BÓNG ĐÁ
        li.nav-item
          a#about-5-tab.nav-link(data-toggle='tab', href='#about-5', role='tab', aria-controls='about-5', aria-selected='false') 
            img(src='../img/about-5.png')
            | Dịch Vụ MÀI VÀ ĐÁNH BÓNG BÊ TÔNG
        li.nav-item
          a#about-6-tab.nav-link(data-toggle='tab', href='#about-6', role='tab', aria-controls='about-6', aria-selected='false') 
            img(src='../img/about-6.png')
            | Dịch Vụ THI CÔNG SƠN SÀN EPOXY
        li.nav-item
          a#about-7-tab.nav-link(data-toggle='tab', href='#about-7', role='tab', aria-controls='about-7', aria-selected='false') 
            img(src='../img/about-7.png')
            | Hóa chất vệ sinh
        
      
      .tab-content
        #about-1.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='about-1-tab')
          img(src='../img/aboutus.png')
          h3 VỀ VỆ SINH HOÀNG gia
          h5 History of construction is truly remarkable. From neolithic architecture to modern day buildings,from mud houses to high rise buildings , the tools and methods have evolved drastically.Archaeological records and surveys provide us with glimpse of structure that were built thousands
          .aboutus-btn
            a(href='gioi-thieu.html')
              i.mdi.mdi-plus
              | Xem thêm
        
        #about-2.tab-pane.fade(role='tabpanel', aria-labelledby='about-2-tab')
          img(src='../img/bg-contact.png')
          h3 MÁY MÓC VỆ Sinh
          h5 History of construction is truly remarkable. From neolithic architecture to modern day buildings,from mud houses to high rise buildings , the tools and methods have evolved drastically.Archaeological records and surveys provide us with glimpse of structure that were built thousands
          .aboutus-btn
            a(href='san-pham.html')
              i.mdi.mdi-plus
              | Xem thêm
        
  section.service
    .container
      .title-page
        h3
          a dịch vụ VỆ SINH 

      ul.nav.nav-tabs(role='tablist')
        li.nav-item
          a#service-1-tab.nav-link.active(data-toggle='tab', href='#service-1', role='tab', aria-controls='service-1', aria-selected='false') 
            span Dịch vụ vệ sinh công nghiệp
        li.nav-item
          a#service-2-tab.nav-link(data-toggle='tab', href='#service-2', role='tab', aria-controls='service-2', aria-selected='false') 
            span Dịch vụ mài và đánh bóng bê tông
        li.nav-item
          a#service-3-tab.nav-link(data-toggle='tab', href='#service-3', role='tab', aria-controls='service-3', aria-selected='false') 
            span Dịch vụ mài và đánh bóng đá
        li.nav-item
          a#service-4-tab.nav-link(data-toggle='tab', href='#service-4', role='tab', aria-controls='service-4', aria-selected='false') 
            span Dịch vụ thi công sơn sàn epoxy
      
      .tab-content
        #service-1.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='service-1-tab')
          .service-zone
            .box-service
              img(src='../img/service-1.png')
              .box-service-desc
                h5 
                  a(href='dich-vu-ve-sinh-cong-nghiep.html')
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita repudiandae perspiciatis incidunt labore eligendi harum. Beatae, corrupti placeat laborum repellat a iure qui provident, distinctio eos quos libero, architecto doloribus.
              .box-service-title
                h5 
                  a(href='dich-vu-ve-sinh-cong-nghiep.html') VỆ SINH VĂN phòng
                p Dịch vụ vệ sinh công nghiệp
            
            .box-service
              img(src='../img/service-1.png')
              .box-service-desc
                h5 
                  a(href='dich-vu-ve-sinh-cong-nghiep.html')
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita repudiandae perspiciatis incidunt labore eligendi harum. Beatae, corrupti placeat laborum repellat a iure qui provident, distinctio eos quos libero, architecto doloribus.
              .box-service-title
                h5 
                  a(href='dich-vu-ve-sinh-cong-nghiep.html') VỆ SINH VĂN phòng
                p Dịch vụ vệ sinh công nghiệp
            
            .box-service
              img(src='../img/service-1.png')
              .box-service-desc
                h5 
                  a(href='dich-vu-ve-sinh-cong-nghiep.html')
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita repudiandae perspiciatis incidunt labore eligendi harum. Beatae, corrupti placeat laborum repellat a iure qui provident, distinctio eos quos libero, architecto doloribus.
              .box-service-title
                h5 
                  a(href='dich-vu-ve-sinh-cong-nghiep.html') VỆ SINH VĂN phòng
                p Dịch vụ vệ sinh công nghiệp
            
            .box-service
              img(src='../img/service-1.png')
              .box-service-desc
                h5 
                  a(href='dich-vu-ve-sinh-cong-nghiep.html')
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita repudiandae perspiciatis incidunt labore eligendi harum. Beatae, corrupti placeat laborum repellat a iure qui provident, distinctio eos quos libero, architecto doloribus.
              .box-service-title
                h5 
                  a(href='dich-vu-ve-sinh-cong-nghiep.html') VỆ SINH VĂN phòng
                p Dịch vụ vệ sinh công nghiệp
            
            .box-service
              img(src='../img/service-1.png')
              .box-service-desc
                h5 
                  a(href='dich-vu-ve-sinh-cong-nghiep.html')
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita repudiandae perspiciatis incidunt labore eligendi harum. Beatae, corrupti placeat laborum repellat a iure qui provident, distinctio eos quos libero, architecto doloribus.
              .box-service-title
                h5 
                  a(href='dich-vu-ve-sinh-cong-nghiep.html') VỆ SINH VĂN phòng
                p Dịch vụ vệ sinh công nghiệp
            
            .box-service
              img(src='../img/service-1.png')
              .box-service-desc
                h5 
                  a(href='dich-vu-ve-sinh-cong-nghiep.html')
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita repudiandae perspiciatis incidunt labore eligendi harum. Beatae, corrupti placeat laborum repellat a iure qui provident, distinctio eos quos libero, architecto doloribus.
              .box-service-title
                h5 
                  a(href='dich-vu-ve-sinh-cong-nghiep.html') VỆ SINH VĂN phòng
                p Dịch vụ vệ sinh công nghiệp
            
            .box-service
              img(src='../img/service-1.png')
              .box-service-desc
                h5 
                  a(href='dich-vu-ve-sinh-cong-nghiep.html')
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita repudiandae perspiciatis incidunt labore eligendi harum. Beatae, corrupti placeat laborum repellat a iure qui provident, distinctio eos quos libero, architecto doloribus.
              .box-service-title
                h5 
                  a(href='dich-vu-ve-sinh-cong-nghiep.html') VỆ SINH VĂN phòng
                p Dịch vụ vệ sinh công nghiệp
            
            .box-service
              img(src='../img/service-1.png')
              .box-service-desc
                h5 
                  a(href='dich-vu-ve-sinh-cong-nghiep.html')
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita repudiandae perspiciatis incidunt labore eligendi harum. Beatae, corrupti placeat laborum repellat a iure qui provident, distinctio eos quos libero, architecto doloribus.
              .box-service-title
                h5 
                  a(href='dich-vu-ve-sinh-cong-nghiep.html') VỆ SINH VĂN phòng
                p Dịch vụ vệ sinh công nghiệp
            

        #service-2.tab-pane.fade(role='tabpanel', aria-labelledby='service-2-tab')
          .service-zone
            .box-service
              img(src='../img/service-1.png')
              .box-service-desc
                h5 
                  a(href='dich-vu-ve-sinh-cong-nghiep.html')
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita repudiandae perspiciatis incidunt labore eligendi harum. Beatae, corrupti placeat laborum repellat a iure qui provident, distinctio eos quos libero, architecto doloribus.
              .box-service-title
                h5 
                  a(href='dich-vu-ve-sinh-cong-nghiep.html') VỆ SINH VĂN phòng
                p Dịch vụ vệ sinh công nghiệp

          

  section.product
    .container
      .title-page
        h3
          a máy VỆ SINH CÔNG NGHIỆP

      .product-zone
        .box-product
          .box-product-img
            .box-product-img-custom
              a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                i.mdi.mdi-eye-plus-outline
            a(href='chi-tiet-san-pham.html')
              img(src='../img/product-1.png')
          .box-product-detail
            h5
              a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                | Máy đánh bóng sàn HiClean HC 68
            h6 MSP: HC68
        
        .box-product
          .box-product-img
            .box-product-img-custom
              a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                i.mdi.mdi-eye-plus-outline
            a(href='chi-tiet-san-pham.html')
              img(src='../img/product-2.png')
          .box-product-detail
            h5
              a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                | Máy đánh bóng sàn HiClean HC 68
            h6 MSP: HC68
        
        .box-product
          .box-product-img
            .box-product-img-custom
              a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                i.mdi.mdi-eye-plus-outline
            a(href='chi-tiet-san-pham.html')
              img(src='../img/product-2.png')
          .box-product-detail
            h5
              a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                | Máy đánh bóng sàn HiClean HC 68
            h6 MSP: HC68
        
        .box-product
          .box-product-img
            .box-product-img-custom
              a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                i.mdi.mdi-eye-plus-outline
            a(href='chi-tiet-san-pham.html')
              img(src='../img/product-1.png')
          .box-product-detail
            h5
              a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                | Máy đánh bóng sàn HiClean HC 68
            h6 MSP: HC68
        
        .box-product
          .box-product-img
            .box-product-img-custom
              a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                i.mdi.mdi-eye-plus-outline
            a(href='chi-tiet-san-pham.html')
              img(src='../img/product-2.png')
          .box-product-detail
            h5
              a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                | Máy đánh bóng sàn HiClean HC 68
            h6 MSP: HC68
        
        .box-product
          .box-product-img
            .box-product-img-custom
              a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                i.mdi.mdi-eye-plus-outline
            a(href='chi-tiet-san-pham.html')
              img(src='../img/product-2.png')
          .box-product-detail
            h5
              a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                | Máy đánh bóng sàn HiClean HC 68
            h6 MSP: HC68
        
        .box-product
          .box-product-img
            .box-product-img-custom
              a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                i.mdi.mdi-eye-plus-outline
            a(href='chi-tiet-san-pham.html')
              img(src='../img/product-1.png')
          .box-product-detail
            h5
              a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                | Máy đánh bóng sàn HiClean HC 68
            h6 MSP: HC68
        
        .box-product
          .box-product-img
            .box-product-img-custom
              a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                i.mdi.mdi-eye-plus-outline
            a(href='chi-tiet-san-pham.html')
              img(src='../img/product-2.png')
          .box-product-detail
            h5
              a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                | Máy đánh bóng sàn HiClean HC 68
            h6 MSP: HC68
        
      .product-all
        a(href='san-pham.html') Xem tất cả sản phẩm

  section.contact-home
    .container
      .box-contact-home
        .box-contact-home-top
          .left
            h4 GỬI LIÊN HỆ CHO CHÚNG tôi
            h5 Nếu quý khách có thắc mắc hay muốn đặt hàng và dịch vụ, vui lòng liên hệ
          .right
            ul
              li
                i.mdi.mdi-map-marker-outline
                h5 192/43 Nguyễn Oanh, Cư Xá Ba Son, P.17, Q. Gò Vấp, Tp.HCM
              li
                i.mdi.mdi-phone
                h4 090.78.79.472
                  span tankthoanggia@gmail.com
        form
          .box-contact-home-bottom
              .left
                input(type="text", placeholder="Họ tên:")
                input(type="text", placeholder="Email:")
                input(type="text", placeholder="Số điện thoại:")
                input(type="text", placeholder="Tiêu đề:")
              .right
                textarea(placeholder="Nội dung . . .")
                button(type="submit") gửi liên hệ
          
  section.product
    .container
      .title-page
        h3
          a hóa chất

      .product-zone
        .box-product
          .box-product-img
            .box-product-img-custom
              a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                i.mdi.mdi-eye-plus-outline
            a(href='chi-tiet-san-pham.html')
              img(src='../img/product-1.png')
          .box-product-detail
            h5
              a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                | Máy đánh bóng sàn HiClean HC 68
            h6 MSP: HC68
        
        .box-product
          .box-product-img
            .box-product-img-custom
              a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                i.mdi.mdi-eye-plus-outline
            a(href='chi-tiet-san-pham.html')
              img(src='../img/product-2.png')
          .box-product-detail
            h5
              a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                | Máy đánh bóng sàn HiClean HC 68
            h6 MSP: HC68
        
        .box-product
          .box-product-img
            .box-product-img-custom
              a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                i.mdi.mdi-eye-plus-outline
            a(href='chi-tiet-san-pham.html')
              img(src='../img/product-2.png')
          .box-product-detail
            h5
              a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                | Máy đánh bóng sàn HiClean HC 68
            h6 MSP: HC68
        
        .box-product
          .box-product-img
            .box-product-img-custom
              a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                i.mdi.mdi-eye-plus-outline
            a(href='chi-tiet-san-pham.html')
              img(src='../img/product-1.png')
          .box-product-detail
            h5
              a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                | Máy đánh bóng sàn HiClean HC 68
            h6 MSP: HC68
        
        .box-product
          .box-product-img
            .box-product-img-custom
              a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                i.mdi.mdi-eye-plus-outline
            a(href='chi-tiet-san-pham.html')
              img(src='../img/product-2.png')
          .box-product-detail
            h5
              a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                | Máy đánh bóng sàn HiClean HC 68
            h6 MSP: HC68
        
        .box-product
          .box-product-img
            .box-product-img-custom
              a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                i.mdi.mdi-eye-plus-outline
            a(href='chi-tiet-san-pham.html')
              img(src='../img/product-2.png')
          .box-product-detail
            h5
              a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                | Máy đánh bóng sàn HiClean HC 68
            h6 MSP: HC68
        
        .box-product
          .box-product-img
            .box-product-img-custom
              a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                i.mdi.mdi-eye-plus-outline
            a(href='chi-tiet-san-pham.html')
              img(src='../img/product-1.png')
          .box-product-detail
            h5
              a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                | Máy đánh bóng sàn HiClean HC 68
            h6 MSP: HC68
        
        .box-product
          .box-product-img
            .box-product-img-custom
              a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                i.mdi.mdi-eye-plus-outline
            a(href='chi-tiet-san-pham.html')
              img(src='../img/product-2.png')
          .box-product-detail
            h5
              a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                | Máy đánh bóng sàn HiClean HC 68
            h6 MSP: HC68
        
      .product-all
        a(href='san-pham.html') Xem tất cả hóa chất
