extends _inc

block article
  section.slider
    .owl-carousel.slider-carousel.owl-theme
      .item
        a(href='chi-tiet-san-pham.html')
          img(src='../img/slider-1.png')
      
      .item
        a(href='chi-tiet-san-pham.html')
          img(src='../img/slider-1.png')
   

  section.product
    .container
      .title-page
        h3
          a máy VỆ SINH CÔNG NGHIỆP

      .product-zone
        .box-product
          .box-product-img
            .box-product-img-custom
              a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                i.mdi.mdi-eye-plus-outline
            a(href='chi-tiet-san-pham.html')
              img(src='../img/product-1.png')
          .box-product-detail
            h5
              a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                | Máy đánh bóng sàn HiClean HC 68
            h6 MSP: HC68
        
        .box-product
          .box-product-img
            .box-product-img-custom
              a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                i.mdi.mdi-eye-plus-outline
            a(href='chi-tiet-san-pham.html')
              img(src='../img/product-2.png')
          .box-product-detail
            h5
              a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                | Máy đánh bóng sàn HiClean HC 68
            h6 MSP: HC68
        
        .box-product
          .box-product-img
            .box-product-img-custom
              a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                i.mdi.mdi-eye-plus-outline
            a(href='chi-tiet-san-pham.html')
              img(src='../img/product-2.png')
          .box-product-detail
            h5
              a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                | Máy đánh bóng sàn HiClean HC 68
            h6 MSP: HC68
        
        .box-product
          .box-product-img
            .box-product-img-custom
              a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                i.mdi.mdi-eye-plus-outline
            a(href='chi-tiet-san-pham.html')
              img(src='../img/product-1.png')
          .box-product-detail
            h5
              a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                | Máy đánh bóng sàn HiClean HC 68
            h6 MSP: HC68
        
        .box-product
          .box-product-img
            .box-product-img-custom
              a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                i.mdi.mdi-eye-plus-outline
            a(href='chi-tiet-san-pham.html')
              img(src='../img/product-2.png')
          .box-product-detail
            h5
              a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                | Máy đánh bóng sàn HiClean HC 68
            h6 MSP: HC68
        
        .box-product
          .box-product-img
            .box-product-img-custom
              a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                i.mdi.mdi-eye-plus-outline
            a(href='chi-tiet-san-pham.html')
              img(src='../img/product-2.png')
          .box-product-detail
            h5
              a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                | Máy đánh bóng sàn HiClean HC 68
            h6 MSP: HC68
        
        .box-product
          .box-product-img
            .box-product-img-custom
              a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                i.mdi.mdi-eye-plus-outline
            a(href='chi-tiet-san-pham.html')
              img(src='../img/product-1.png')
          .box-product-detail
            h5
              a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                | Máy đánh bóng sàn HiClean HC 68
            h6 MSP: HC68
        
        .box-product
          .box-product-img
            .box-product-img-custom
              a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                i.mdi.mdi-eye-plus-outline
            a(href='chi-tiet-san-pham.html')
              img(src='../img/product-2.png')
          .box-product-detail
            h5
              a(href='chi-tiet-san-pham.html', title='Máy đánh bóng sàn HiClean HC 68')
                | Máy đánh bóng sàn HiClean HC 68
            h6 MSP: HC68
        
      .product-all
        a(href='san-pham.html') Xem tất cả sản phẩm

  